<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Flashy Animated Background */
        body {

            background: linear-gradient(135deg, #ff00ff, #ff7700, #00ff00, #0000ff);
            background-size: 400% 400%;
            animation: backgroundGradient 8s infinite;
        }

        @keyframes backgroundGradient {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

    </style>
</head>
<body>
	<h1>Ajouter un client</h1>
	 <form action="/addClient" method="post" th:object="${client}">
        <div>
            <label for="nom">Nom :</label>
            <input type="text" th:field="*{nom}" id="nom">
            <div th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="error"></div>
        </div>
        <div>
            <label for="prenom">Prénom :</label>
            <input type="text" th:field="*{prenom}" id="prenom">
            <div th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="error"></div>
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="text" th:field="*{email}" id="email">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
        </div>
        <div>
            <label for="numTel">Téléphone :</label>
            <input type="text" th:field="*{numTel}" id="numTel">
            <div th:if="${#fields.hasErrors('numTel')}" th:errors="*{numTel}" class="error"></div>
        </div>
        <div>
            <label for="rue">Rue :</label>
            <input type="text" th:field="*{rue}" id="rue">
            <div th:if="${#fields.hasErrors('rue')}" th:errors="*{rue}" class="error"></div>
        </div>
        <div>
            <label for="cpo">Code Postal :</label>
            <input type="text" th:field="*{cpo}" id="cpo">
            <div th:if="${#fields.hasErrors('cpo')}" th:errors="*{cpo}" class="error"></div>
        </div>
        <div>
            <label for="ville">Ville :</label>
            <input type="text" th:field="*{ville}" id="ville">
            <div th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" class="error"></div>
        </div>
        <button type="submit">Valider</button>
    </form>
    <h2>Liste des clients</h2>
	<table>
		<tr th:each="client : ${clients}">
			<td th:text="${client.id}"></td>
			<td th:text="${client.nom}"></td>
			<td th:text="${client.prenom}"></td>
			<td th:text="${client.email}"></td>
			<td th:text="${client.numTel}"></td>
			<td><a th:href="@{/client/{id}(id=${client.id})}">Voir détails</a></td>
			<td><a th:href="@{/deleteClient/{id}(id=${client.id})}" method="post">supprimer</a></td>
	</table>

</body>
</html>